h1 {
  font-family: Lato;
  font-weight: bold;
  padding: 0.5rem;
}
.emojis {
  font-size: 3rem;
  cursor: pointer;
}
.inputArea {
  width: 60%;
  padding: 0.6rem 1rem;
}
.container {
  max-width: 70%;
  margin: 0% 30%;
  text-align: center;
  background-color: #c6c5c7;
  border-radius: 2rem;
}
.meaning {
  font-size: 20px;
  font-weight: bold;
  padding: 2rem 2rem;
  margin: 0.1rem 1rem;
}
small {
  display: block;
  padding: 2rem 2rem;
}
